{% extends "base.html" %}
{% block content %}




<div id="list" class="wrapper">


<h1 class="titulo-pg"> {{ title }} </h1>




<form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Pesquisar' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>











 

<div class="conteudo">


{% for obj in object_list %}



  <!-- Normal Demo-->
  <div class="posts">
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day">{{ obj.publish }}</div>
          <div class="month"></div>
        {% if obj.image %}
        </div>  <a href='{{ obj.get_absolute_url }}'> <img  src="{{ obj.image.url }}"/>  </a> 
        {% endif %}
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category"> <a href='{{ obj.get_absolute_url }}'> View</a> </div>
        <h1 class="title in">{{ obj.title }}</h1>
        <span>{% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %} </span>
        {% comment %} <h2 class="sub_title">SUBtitulo</h2> {% endcomment %}   
        {% if obj.username.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
           <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>     
      </div>      
    </div>
  </div>


{% endfor %}
</div>

</div>


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>



{% endblock content %}


